Repository opf/primer_view_components, pull requests merged in 2023-11, with the labels that each got.

#46 Bump/primer upstream
  .changeset/hot-dots-look.md
  .changeset/loud-starfishes-hope.md
  .github/workflows/add-to-inbox.yml
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/overlay.pcss
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  lib/primer/static/generate_info_arch.rb
  package-lock.json
  package.json
  static/info_arch.json
Labels: patch release, css, javascript

#45 feat[#50499]: Add back button and breadcrumbs to page header
  .changeset/green-bananas-kneel.md
  app/components/primer/open_project/page_header.html.erb
  app/components/primer/open_project/page_header.pcss
  app/components/primer/open_project/page_header.rb
  previews/primer/open_project/page_header_preview.rb
  test/components/primer/open_project/page_header_test.rb
Labels: ruby, css, minor release

#48 Added "width" attribute to inputs
  .changeset/added-width-to-inputs.md
  .gitignore
  app/components/primer/alpha/text_field.pcss
  app/forms/custom_width_fields_form.rb
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/select.rb
  lib/primer/forms/text_field.rb
  previews/primer/alpha/select_preview.rb
  previews/primer/alpha/text_field_preview.rb
  previews/primer/forms_preview.rb
  previews/primer/forms_preview/custom_width_fields_form.html.erb
  test/lib/primer/forms/text_field_input_test.rb
  test/lib/primer/forms_test.rb
Labels: enhancement, css, minor release

#49 feat[#51013]: Extend page header with parent link, context bar actions and responsiveness
  .changeset/giant-carrots-explain.md
  app/components/primer/open_project/page_header.html.erb
  app/components/primer/open_project/page_header.pcss
  app/components/primer/open_project/page_header.rb
  previews/primer/open_project/page_header_preview.rb
  previews/primer/open_project/page_header_preview/context_bar_actions.html.erb
  previews/primer/open_project/page_header_preview/playground.html.erb
  test/components/primer/open_project/page_header_test.rb
Labels: ruby, css, minor release

#54 Changed width to max-width for text field style
  .changeset/textfield-max-width.md
  app/components/primer/alpha/text_field.pcss
Labels: patch release, css

#56 Create InputGroup component
  .changeset/early-news-help.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/input_group/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/input_group/default/focused.png
  app/components/primer/open_project/input_group.html.erb
  app/components/primer/open_project/input_group.pcss
  app/components/primer/open_project/input_group.rb
  app/components/primer/primer.pcss
  previews/primer/open_project/input_group_preview.rb
  test/components/component_test.rb
  test/components/primer/open_project/input_group_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/open_project/input_group_test.rb
Labels: ruby, css, minor release

#57 Allow setting an `id` attribute on the BorderBox's `ul` element
  .changeset/strong-lamps-yawn.md
  app/components/primer/beta/border_box.rb
  previews/primer/beta/border_box_preview.rb
  test/components/beta/border_box_test.rb
Labels: enhancement, patch release, ruby
