Repository opf/primer_view_components, pull requests merged in 2023-09, with the labels that each got.

#20 Upstream update
  .changeset/eighty-cheetahs-float.md
  .changeset/plenty-experts-sort.md
  .changeset/smart-scissors-type.md
  .changeset/sweet-bananas-wave.md
  .devcontainer/devcontainer.json
  .github/workflows/demo-preview-destroy.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual_svg/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual_svg/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/focused.png
  Gemfile
  Gemfile.lock
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/dialog.rb
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button.rb
  app/components/primer/beta/flash.html.erb
  app/components/primer/beta/flash.pcss
  app/components/primer/component.rb
  app/lib/primer/fetch_or_fallback_helper.rb
  demo/Gemfile
  demo/Gemfile.lock
  demo/app/views/action_menu/deferred.html.erb
  demo/gemfiles/kuby.gemfile
  demo/gemfiles/kuby.gemfile.lock
  docs/static/primer_view_components.css
  docs/static/primer_view_components.css.map
  docs/static/primer_view_components.js
  docs/static/primer_view_components.js.map
  lib/primer/view_components.rb
  lib/primer/view_components/linters/details_menu_migration.rb
  lib/primer/view_components/linters/tooltipped_migration.rb
  package.json
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/leading_visual.html.erb
  previews/primer/beta/button_preview/leading_visual_svg.html.erb
  previews/primer/beta/button_preview/trailing_counter.html.erb
  previews/primer/beta/button_preview/trailing_visual.html.erb
  static/info_arch.json
  static/previews.json
  test/components/primer/alpha/dialog_test.rb
  test/components/primer/beta/button_test.rb
  test/lib/fetch_or_fallback_helper_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
Labels: patch release, ruby, css, javascript

#24 Bump Octicons repo
  .changeset/eleven-socks-move.md
  Gemfile.lock
  demo/Gemfile.lock
  primer_view_components.gemspec
Labels: patch release

#25 Use our user for generating static files
  .github/workflows/static-files.yml
Labels: skip changeset

#26 Add large variant for PageHeaderComponent
  .changeset/fluffy-deers-tell.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/page_header/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/page_header/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/page_header/playground/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/page_header/playground/focused.png
  app/components/primer/open_project/page_header.pcss
  app/components/primer/open_project/page_header.rb
  previews/primer/open_project/page_header_preview.rb
  static/classes.json
  static/previews.json
  test/components/primer/open_project/page_header_test.rb
Labels: patch release, ruby, css

#28 Update upstream primer/view_components repository
  .changeset/clever-balloons-tell.md
  .changeset/cool-items-stare.md
  .changeset/eleven-pillows-explain.md
  .changeset/odd-pumas-live.md
  .changeset/rude-owls-prove.md
  .changeset/sour-parrots-fetch.md
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
  .erb-lint.yml
  .github/release_template.md
  .github/workflows/lint.yml
  app/components/primer/alpha/action_bar.rb
  app/components/primer/alpha/action_bar/item.rb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/tool_tip.ts
  app/components/primer/anchored_position.ts
  app/components/primer/beta/spinner.html.erb
  demo/config/application.rb
  demo/package-lock.json
  demo/package.json
  docs/contributors/setup.md
  lib/primer/view_components/linters/migrations/iconbutton_component.rb
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/in_an_action_menu.html.erb
  static/info_arch.json
  static/previews.json
  test/components/alpha/action_bar_test.rb
  test/lib/rubocop/iconbutton_component_test.rb
Labels: patch release, ruby, css, javascript

#30 Add DragHandlerComponent
  .changeset/unlucky-buses-knock.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/drag_handle/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/drag_handle/default/focused.png
  app/components/primer/open_project/drag_handle.html.erb
  app/components/primer/open_project/drag_handle.pcss
  app/components/primer/open_project/drag_handle.rb
  app/components/primer/primer.pcss
  previews/primer/open_project/drag_handle_preview.rb
  static/classes.json
  test/components/component_test.rb
  test/components/primer/open_project/drag_handle_test.rb
  test/system/open_project/drag_handle_test.rb
Labels: ruby, css, minor release

#32 Add BorderGrid component
  .changeset/lucky-rules-suffer.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/border_grid/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/open_project/border_grid/default/focused.png
  app/components/primer/open_project/border_grid.html.erb
  app/components/primer/open_project/border_grid.pcss
  app/components/primer/open_project/border_grid.rb
  app/components/primer/open_project/border_grid/cell.html.erb
  app/components/primer/open_project/border_grid/cell.rb
  app/components/primer/primer.pcss
  previews/primer/open_project/border_grid_preview.rb
  static/classes.json
  test/components/component_test.rb
  test/components/primer/open_project/border_grid/cell_test.rb
  test/components/primer/open_project/border_grid_test.rb
  test/system/open_project/border_grid_test.rb
Labels: ruby, css, minor release
